.big-banner{
    background-image: url('https://images.unsplash.com/photo-1531988042231-d39a9cc12a9a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJvb2tzfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
    background-size: 150vh;
}
.fresh-content{
    background: linear-gradient(to right, rgb(168,58,58), rgb(228,102,102));
}
.landing-head{
    color: #1c1d1f;
    font-weight: bold;
}
.body{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.container{
    margin-bottom: 2.4rem;
}
.heading{
    margin-bottom: 2.4rem;
    margin-left: 40px;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.25;
    line-height: 1.25;
}
.sub-heading{
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
}
.card-title{
    font-weight: 700;
    font-size: 0.9rem;
    overflow: hidden;
    margin: auto 0.2px;
}
.card-text{
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 0.7rem;
    margin-top: 0.6rem;
    color: #6c757d;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin: 10px;
}
.topics{
    text-align: center;
}
.card-body{
    overflow: hidden;
}
.last-card-body{
    margin: 30px;
}
.last-desc{
    font-size: 1rem;
}
.last-title{
    font-size: 1.5rem;
}
.footer-nav{
    margin-top: -40px;
}

.footer{
    background-color: #1c1d1f;
    margin-bottom: -60px;
    color: white;
}
.row{
    margin-left: 20px;
    font-weight: 600;
}
.nav-link{
    font-weight: bold;
}
.select-lang{
    color: grey;
    font-weight: lighter;
    margin-left: -10px;
}
.select-lang:hover{
    color: white;
}
.copyright{
    margin-left: 30px;
}
.form-control{
    font-size: 1rem;
    margin-left: 10px;
    margin-top: 7px;
}
.search-btn{
    margin-top: 8px;
    margin-left: -10px;
}
.landing-question {
    margin-top: -0.5px;
    margin-left: -5px;
}
.landing-head-secondary{
    color: #1c1d1f;
}